<section class="advertisement">
  <div class="container">
    <a href="{{ content.field_ad_link[0]['#url'].uri }}" target="_blank">
      <img src="{{ content.field_image[0]['#markup'] }}" alt="Advertisement" />
    </a>
  </div>
</section>
