{% extends 'page.html.twig' %}

{% block content %}
  <section class="register-page">
    <div id="site-logo">
      {% if site_logo %}
        <a href="/" title="{{ site_name }}">
          <img src="/{{ site_logo }}" alt="{{ site_name }}" />
        </a>
      {% endif %}
    </div>
    {{ page.content }}
    <div class="not-a-member">
      Not a member? <a href="/user/register" >Register here</a>
    </div>
  </section>
{% endblock %}
